<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/mainStyles.css">
<link rel="stylesheet" href="css/headerFooterStyles.css">
</head>
<body>
	<header>
		<h1 class="headline">別荘.COM</h1>
	</header>
	<hr>
	<div>
		<button class="button mainHtml" onclick="location.href='./myPage01/login.jsp'">売りたい方</button>
		<button class="button mainHtml" onclick="location.href='./myPage01/makeAccount.jsp'">買いたい方</button>
	</div>
<hr>
</body>
</html>